     .atom/
     .bash_history
     .docker/
     .gitconfig
     .lesshst
     3D Objects/
     AppData/
     Challenge-02/
     Contacts/
     Downloads/
     Favorites/
     IntelGraphicsProfiles/
     Links/
     Music/
     NTUSER.DAT
     NTUSER.DAT{1c2b59c6-c5f5-11eb-bacb-000d3a96488e}.TM.blf
     NTUSER.DAT{1c2b59c6-c5f5-11eb-bacb-000d3a96488e}.TMContainer00000000000000000001.regtrans-ms
     NTUSER.DAT{1c2b59c6-c5f5-11eb-bacb-000d3a96488e}.TMContainer00000000000000000002.regtrans-ms
     OneDrive/.849C9593-D756-4E56-8D6E-42412F2A707B
     "OneDrive/10104 ADMINISTRACI\303\223N I.docx"
     "OneDrive/Almac\303\251n personal.lnk"
     "OneDrive/Datos adjuntos de correo electr\303\263nico/"
     OneDrive/Documentos/Algoritmo de Floyd.xlsx
     OneDrive/Documentos/Bachillerato Informatica.pdf
     OneDrive/Documentos/Bachillerato en Informatica.docx
     OneDrive/Documentos/Bloc de notas de Ruben.url
     OneDrive/Documentos/CV/
     OneDrive/Documentos/Continuous improvement.pptx
     OneDrive/Documentos/El arte de la Guerra.pdf
     OneDrive/Documentos/Finanzas personales.xlsx
     OneDrive/Documentos/I cuatri 2022, 3 pago.pdf
     OneDrive/Documentos/II cuatri 2022, 2 pago.pdf
     OneDrive/Documentos/Investigacion de Ops I/
     OneDrive/Documentos/Investigacion de Ops II/
     OneDrive/Documentos/Mapeo de cluster.txt
     OneDrive/Documentos/Mercadeo/
     OneDrive/Documentos/Metodos de Investigacion/
     OneDrive/Documentos/Organizacion de Archivos/
     OneDrive/Documentos/Sistemas Operativos/
     OneDrive/Documentos/TCU/
     OneDrive/Documentos/UPI Logo.jpg
     OneDrive/Documentos/comandos docker.txt
     OneDrive/Documentos/desktop.ini
     OneDrive/Documentos/ideas.txt
     OneDrive/Documentos/router.txt
     OneDrive/Documentos/validacion cedula.txt
     OneDrive/Escritorio/
     "OneDrive/Im\303\241genes/"
     OneDrive/Poemas/
     OneDrive/Proyecto 1.docx
     OneDrive/Proyecto 2.docx
     OneDrive/Proyecto 3.docx
     OneDrive/Proyecto.docx
     OneDrive/UPI/
     OneDrive/desktop.ini
     Saved Games/
     Searches/
     Sprint-02-Ahorcado-con-JS/
     Videos/
     ntuser.dat.LOG1
     ntuser.dat.LOG2
     ntuser.ini
